Keras==1.2.0
PyYAML==3.12
Theano==0.9.0
appdirs==1.4.3
argparse==1.2.1
funcsigs==1.0.2
h5py==2.7.0
mock==2.0.0
numpy==1.12.1
packaging==16.8
pbr==2.0.0
protobuf==3.0.0b2
pyparsing==2.2.0
scipy==0.19.0
six==1.10.0
tensorflow==0.10.0
wheel==0.29.0
wsgiref==0.1.2
